<!DOCTYPE html>
<html>
<head>
  <title>Continue</title>
  <%= stylesheet_link_tag    "continue/application", media: "all" %>
  <%= javascript_include_tag "continue/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
